@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill ~ .labelLogin {
  top: -10px;
  font-size: 0.75rem;
  background-color: #0c0116;
  left: 0.25rem;
  padding-left: 1px;
  padding-right: 1px;
}

input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
  color: white !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
