@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill ~ .labelLogin {
  top: -10px;
  font-size: 0.75rem;
  background-color: #0c0116;
  left: 0.25rem;
  padding-left: 1px;
  padding-right: 1px;
}

input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
  color: white !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.scroll-style > div {
  margin-right: 6px;
}

.scroll-style::-webkit-scrollbar {
  width: 4px;
  height: 5px;
  scrollbar-width: thin;
  position: absolute;
  right: -10px;
}

.scroll-style::-webkit-scrollbar-track {
  background: gray.50;
  border-radius: 6px;
}

.scroll-style::-webkit-scrollbar-thumb {
  background: gray.100;
  border-radius: 6px;
}

.scroll-style::-webkit-scrollbar-thumb:hover {
  background: gray.100;
}
